body {
    background-color:#c1853b ;
}
h1{
    font-size: 32px;
    color: black;
}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    background-color:#2f0505 ;
  }
  
  .flex-container>div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .monkey {
      font-size: 30px;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
#buttondiv{
    background-color: #2f0505;

}
.buttoner {
    
background-color:#2f0505 ;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}
.flex-container{
    glyph-orientation-horizontal: 100%;
    width: 100%;

}

footer {
    font-size: 1em;
    color: black;

}
